/* Wrapper */
.social-buttons {
  text-align: right;
}

/* Heading */
.social-buttons-title {
  display: inline-block;
  font-size: 16px;
  color: #999;
  margin-right: 10px;
}

/* Links */
ul.social-buttons-links {
  display: inline-block;
}

ul.social-buttons-links li {
  font-size: 1rem;
}

.social-buttons-links a {
  padding: 8px 8px;
  display: inline-block;
  text-align: center;
  color: #fff;
  width: 20px;
}

.social-buttons-links a:focus {
  color: #fff;
}

.social-buttons-links a:hover {
  color: #fff;
}

.social-buttons-links .twitter a {
  background-color: #0F1419;
}

.social-buttons-links .facebook a {
  background-color: #3b5998;
}

.social-buttons-links .googleplus a {
  background-color: #dc4e41;
}

.social-buttons-links .linkedin a {
  background-color: #0274b3;
}

.social-buttons-links .mail a {
  background-color: #7e7e7e;
}

.social-buttons-links .print a {
  background-color: #aeaeae;
}

.social-buttons-links .entity-print-pdf a {
  background-color: #d30000;
}
